@-webkit-keyframes borderalert {
    0% { border-color: black; }
    50% { border-color: orange; }
    100% { border-color: black; }
}
@-moz-keyframes borderalert {
    0% { border-color: black; }
    50% { border-color: orange; }
    100% { border-color: black; }
}
@-o-keyframes borderalert {
    0% { border-color: black; }
    50% { border-color: orange; }
    100% { border-color: black; }
}
@keyframes borderalert {
    0% { border-color: black; }
    50% { border-color: orange; }
    100% { border-color: black; }
}

/* general */
* {
	box-sizing: border-box;
}
html, body { 
    overflow: hidden; 
    padding: 0px;
    margin: 0px; 
    width: 100%; 
    height: 100%;
    color:#F4F4F4;
	font-family: "Oxygen", sans-serif;
	font-size:15px;    
}
a,a:visited,a:active {
  color:rgba(0,246,10,0.9);
  text-decoration:none;
  font-weight: bold;
}
a:hover {
  text-shadow:0 0 1px rgba(255,255,255,0.85);
}
.starfield { 
    width:400px;
    height:300px;
	position: absolute;
	top:0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
h1,h2,h3 {
	margin:0;
	padding:0;
}
ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}
.clear {
	clear: both;
}
#main {
	position:relative;
}
#loading {
	z-index: 9999;
	text-align: center;
	width: 250px;
	height: 200px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -125px;
	margin-top: -100px;
}
#account {
	border:1px solid #666;
	margin:10px;
	padding:5px;
	position:absolute;
	right:0;
	top:0;
}
#controls {
	width:320px;
	padding-left:5px;
}
#controls div {
	text-align: center;
	border-radius: 5px;
	background-color:#444;
	color:#999;
	font-size: 12px;
	padding:5px 10px;
	float:left;
	margin-right:5px;
	cursor: pointer;
}
#controls div:hover {
	color: #BBB;
	background-color:#444;
}
#controls span {
	font-size: 32px;
	width:32px;
	height:32px;
	display: block;
}
#controls .view-active {
	color: #EEE;
}
#controls .view-active:hover {
	color: #EEE;
}
#chatSmall {
	position:fixed;
	bottom:0;
	width:100%;
	background:#000;
	border-top: 1px solid red;
	height:22px;
	z-index: 99;
}
#chatSmall p {
	color:#F4F4F4;
	margin: 0;
	padding: 0;
	text-align: center;
}
#chat {
	position:fixed;
	bottom:0;
	width:100%;
	background:#000;
	color:#F4F4F4;
	border-top: 1px solid red;
	height:230px;
	z-index: 99;
}
#chat span {
	font-size: 11px;
	color: #D4D4D4;
	position:absolute;
	right: 10px;
	top: 10px;
}
#chat p {
	margin: 0;
	padding: 2px;
}
#chat input {
	margin: 0px;
	padding: 0px;
	width:100%;
    border: 1px solid rgba(0,246,10,0.9); 
    -webkit-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    -moz-box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    box-shadow: 
      inset 0 0 8px  rgba(0,0,0,0.1),
            0 0 16px rgba(0,0,0,0.1); 
    background: rgba(0,0,0,0.5);
    color: #F4F4F4;
}
#chat input:focus {
	border: 1px solid rgba(246,0,10,0.9); 
}
.chats {
	font-size:13px;
	height:195px;
	max-height:195px;
	overflow-y: hidden;
	padding:5px;
}
.sidebar {
	width:300px;
	position:absolute;
	right: -5px;
	top: 50px;	
}
#ship,#mysoldiers {
	position:relative;
	background-color: rgba(10,10,10,0.6);
	border:1px solid rgba(0,246,10,0.9);
	border-radius: 5px;
	margin-bottom: 10px;
	padding:10px;
}
#ship h3 {
	clear: both;
}
.fuel {
	padding-top: 10px;
}
.resource {
	float:left;
	width:40px;
	text-align: center;
}
.resources img {
	width:32px;
	height:32px;
}
.resource p {
	margin: 0;
	padding: 0;
}
#mysoldiers .soldier {
	height:85px;
	cursor: pointer;
	font-size:14px;
}
#mysoldiers .soldier:hover {
	background-color:rgba(40,40,40,0.8);
}
#mysoldiers ul li {
	padding:5px;
}
#mysoldiers .soldier-selected {
	background-color:rgba(0,255,0,0.4);
}
#mysoldiers .soldier-selected:hover {
	background-color:rgba(0,255,0,0.7);
}
.infoRight {
	float: right;
	position: relative;
}
.infoRight img {
	width: 60px;
	height: 60px;
	display: block;
}
.infoRight .deadicon {
	color: rgba(255,0,0,0.5);
	font-size:60px;
	position: absolute;
	right: 0;
	top: 0;
}
#soldierview {
	width:400px;
	height:435px;
	position:fixed;
	top:50%;
	left:50%;
	margin-top:-200px;
	margin-left:-200px;
	border:1px solid red;
	background-color:rgba(0,0,0,0.5);
	padding:0;
}
#soldierview ul li {
	margin: 15px 0;
}
.soldierview-inner {
	padding: 15px;
	position: relative;
}
.topbar {
	background-color: #222;
	height:30px;
	line-height: 30px;
}
.close {
	float: right;
	padding-right: 5px;
	cursor: pointer;
}
.levelup {
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.soldierlevel {
	position: absolute;
	top: 15px;
	right: 15px;
}
.actionselect label {
	width: 50px;
	margin: 1px;
	text-align: center;
	font-size: 11px;
	float: left;
}
.actionselect input {
	display: block;
	margin-left: 20px;
}
.actionselected {
	font-weight: bold;
	text-shadow: 0 0 2px rgba(255,0,0,0.5);
}
.soldierhp {
	clear: both;
	padding-top: 5px;
}
.progressbar {
	width:190px;
	height:25px;
	border:1px solid #ab6f00;
	float:left;
}
.progressText {
	width: 80px;
	float:left;
	margin:5px 0 0 5px;
}
.progress {
	height:100%;
	background-color: orange;

}
#home,#store,#barracks,#planets,.challenge {
	padding: 5px;
}
#planets p {
	margin: 0 0 15px 0;
}
#barracks .soldier {
	transition: all 0.5s ease;
	background-color: rgba(10,10,10,0.8);
	position: relative;
	width:277px;
	height:47px;
	max-height:47px;
	border:1px solid #666;
	border-radius:5px;
	margin:5px;
	padding:5px;
	font-size:13px;
	overflow:hidden;
}
#barracks .soldier img {
	transition: all 0.5s ease;
	float: right;
	width: 40px;
	height:auto;
}

#barracks .soldier:hover {
	height: 135px;
	max-height: 135px;
	border:1px solid rgba(0,246,10,0.9);
}
#barracks .soldier:hover img {
	width: 80px;
}
#barracks .soldier:hover .hireButton {
	display: block;
}
#barracks p {
	margin: 0;
}
.hireButton {
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
	margin: 0 5px 5px 0;
}
.button,.login-button {
	padding: 7px 11px;
    background: #666;
    color: #FFF;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #333;
    text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -webkit-transition-duration: 0.2s;
    -moz-transition-duration: 0.2s;
    transition-duration: 0.2s;
    -webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    cursor:pointer;
    text-align: center;
}
.button:hover,.login-button:hover {
	background: #555;
    text-decoration: none;
}
.button:active,.login-button:active {
	-webkit-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    -moz-box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.6);
    background: #444;
}
.button:visited {
	color:#f4f4f4;
}
.login-close-text {
	position: absolute;
	right:3px;
	top:5px;
}
.login-form label {
	display: block;
}
.login-form input {
	width: 100%;
}
#login-buttons a {
	cursor: pointer;
}
.login-button {
	margin: 10px;
	width: 145px;
}
#login-username-label {
	margin-top: 10px;
}
.highlight {
	border: 1px solid black;
  -webkit-animation: borderalert 5s infinite; /* Safari 4+ */
  -moz-animation:    borderalert 5s infinite; /* Fx 5+ */
  -o-animation:      borderalert 5s infinite; /* Opera 12+ */
  animation:         borderalert 5s infinite; /* IE 10+ */
}
.battle {
	background: #333;
	position:fixed;
	top:0;
	left: 50%;
	margin-left:-150px;
	width:300px;
	padding:10px;
	-webkit-border-bottom-right-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.challenge-user {
	cursor: pointer;
}
.soldierselect {
	clear:both;
	line-height:50px;
	border:1px solid #777;
	padding: 5px;
	margin: 5px 0 15px;
	cursor: pointer;
}
.soldierselect:last-child {
	margin-bottom: 5px;
}
.soldierimg {
	position: relative;
	width: 50px;
	height: 50px;
	float: left;
	margin-right: 5px;
}
.soldierimg img {
	position: absolute; 
	clip:rect(15px 75px 65px 25px); 
	top: -15px; 
    left: -25px;
}
.soldierselect p {
	margin: 0;
	text-align: center;
	font-size: 20px;
}
input[name="soldierselect"] {
	display:none;
}
input[name="soldierselect"]:checked + .soldierselect {
	border: 1px solid rgba(0,255,0,0.7);
	background-color: rgba(0,255,0,0.1);
	color: #FFF;
}
input[name="soldierselect"][disabled] + .soldierselect {
	border: 1px solid #222;
	color: #777;
}
input[name="soldierselect"][disabled] + .soldierselect img {
	opacity: 0.5;
}
.arena {
	background:#000;
	width: 650px;
	position: fixed;
	left: 50%;
	top: 0;
	margin-left: -325px;
}
.team1 {
	margin-bottom: 50px;
}
.dmgarea {
	width:200px;
	height:50px;
	background: #000;
}
.arenasoldier {
	width:200px;
	float:left;
	margin-right: 5px;
}
.arenasoldier:last-child {
	margin-right: 0;
}
.soldierhealthbar {
	width:190px;
	height:25px;
	border:1px solid red;
}
.soldierinfo {
	position: relative;
}
.soldierinfo img {
	width: 100px;
	height: 100px;
}
.deadsoldier {
	position:absolute;
	font-size: 80px;
	top: 0;
	left: 0;
	color: rgba(255,0,0,0.67);
}
.healthpercent {
	height:100%;
	background-color: rgba(255,0,0,0.5);
}
.arena h2 {
	text-align: center;
}
.arena-win {
	font-size: 72px;
	color:rgba(0,255,0,0.67);
}
.arena-lose {
	font-size: 72px;
	color:rgba(255,0,0,0.67);
}
.close-button {
	width: 150px;
	margin:0 auto;
}

@font-face {
	font-family: 'ships';
	src:url('../fonts/ships.eot?-3n4id8');
	src:url('../fonts/ships.eot?#iefix-3n4id8') format('embedded-opentype'),
		url('../fonts/ships.woff?-3n4id8') format('woff'),
		url('../fonts/ships.ttf?-3n4id8') format('truetype'),
		url('../fonts/ships.svg?-3n4id8#ships') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'ships';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-battle:before {
	content: "\e601";
}
.icon-home:before {
	content: "\e603";
}
.icon-travel:before {
	content: "\e605";
}
.icon-store:before {
	content: "\e606";
}
.icon-hire:before {
	content: "\e602";
}
.icon-checkmark:before {
	content: "\e600";
}
.icon-plus:before {
	content: "\e604";
}
.icon-skull:before {
	content: "\e607";
}
.icon-cancel:before {
	content: "\e608";
}


